            html {
                box-sizing: border-box;
            }
            
            *,
            *::before,
            *::after {
                box-sizing: inherit;
            }
            
            body {
                height: 100vh;
                font-family: 'Roboto', sans-serif;
                margin: 0;
                overflow-x: hidden;
            }
            /* 
"это стили для header
*/
            
            .header {
                width: 100%;
                height: 70px;
                background-color: #2b0477;
                color: aliceblue;
                position: fixed;
                top: 0;
                z-index: 2;
            }
            
            #wrapper {
                padding: 10px 30px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            #left {
                display: flex;
                align-items: center;
            }
            
            #logo {
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;
                margin-right: 40px;
            }
            
            #leftItem {
                display: flex;
                align-items: center;
                margin-left: 30px;
            }
            
            span {
                font-size: 15px;
                font-weight: 500;
            }
            /*  
это старая версия меню
#burger {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    margin-left: 800px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2b0477;
}

.burger_line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: aliceblue;
    margin-bottom: 5px;
}

.burger_line:last-child {
    margin-bottom: 0;
}
*/
            /*
#right {
    width: 32px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

#hamburger {
    justify-content: space-between;
    cursor: pointer;
}


/*
span {
    width: 100%;
    height: 3px;
    transform-origin: left;
    transition: all 2s ease;
}


/* 
здесь будем стили меню
*/
            /* скрываем чекбокс */
            /*
#menu__toggle {
    opacity: 0;
}


/* стилизуем кнопку */
            /*
.menu__btn {
    display: flex;
    /* используем flex для центрирования содержимого */
            /*   align-items: center;
    /* центрируем содержимое кнопки */
            /*   position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}


/* добавляем "гамбургер" */
            /*
.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}


/* контейнер меню */
            /*
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}


/* элементы меню */
            /*
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    transition-duration: .25s;
}

.menu__box {
    transition-duration: .25s;
}

.menu__item {
    transition-duration: .25s;
}

/* 
Здесь стили для section
*/
            
            .sections {
                width: 100%;
                height: calc(100vh - 70px);
                position: relative;
                top: 70px;
                overflow-y: scroll;
                scroll-snap-type: y mandatory;
                scrollbar-width: none;
            }
            /* 
здесь стили для intro
*/
            
            .intro {
                width: 100%;
                height: calc(100vh - 70px);
                scroll-snap-align: start;
                background-color: white;
                display: flex;
            }
            
            .intro_left {
                flex: 0.5;
                overflow: hidden;
            }
            
            .intro_left_imgContainer {
                width: 800px;
                height: 800px;
                background-color: crimson;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                float: right;
            }
            
            img {
                height: 100%;
            }
            
            .intro_right {
                flex: 0.5;
                position: relative;
            }
            
            .intro_right_wrapper {
                width: 100%;
                height: 100%;
                padding-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            
            h1 {
                font-size: 60px;
                margin: 10px 0;
            }
            
            h2 {
                font-size: 35px;
                margin: 10px 0;
            }
            
            h3 {
                font-size: 30px;
                margin: 10px 0;
            }
            
            .intro_right_wrapper_a {
                position: absolute;
                bottom: 10px;
                left: 40%;
            }
            
            .arrow {
                width: 30px;
            }
            /* 
здесь стили для portfolio
*/
            
            .portfolio {
                width: 100%;
                height: calc(100vh - 70px);
                scroll-snap-align: start;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            .portfolio_h1 {
                font-size: 50px;
            }
            
            .portfolio_cards_wrapper {
                width: 70%;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            
            .card {
                width: 400px;
                height: 200px;
                background-color: #ffffff;
                box-shadow: 0px 10px 40px #5d728d;
                margin: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: transform 0.2s ease-in;
                position: relative;
            }
            
            .card-title {
                position: absolute;
                font-size: 20px;
            }
            
            .card_img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }
            /* 
здесь стили для  contact
*/
            
            .contact {
                width: 100%;
                height: calc(100vh - 70px);
                scroll-snap-align: start;
                background-color: chartreuse;
            }